@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  color-scheme: dark;
}
body {
  color: #fffafa;
  background-color: #0f172a;
}

.mainText {
  color: #2fd4f1;
}

.websitesColor {
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5  max-w-[1150px] mx-auto;

  background-image: url("../public/hero.jpg");
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

.websiteItem {
  width: 100%;
  border-radius: 21px;

  padding: 1rem;
  background-color: #1b2133;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;

  transition: 0.3s all;
}
.downArrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.registerpanel {
  background-color: #1b2133;
  height: 100vh;
}
.dropdownhehe {
  background-color: #1b2133;
}
.userProfileContainer {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.websiteItem:hover {
  transform: translateY(-5px);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.websiteItemAdd {
  margin: 0 auto;

  cursor: pointer;
}

.plusign path {
  fill: "white";
}

.secondContent {
  background-color: #0f172a;
}

.discordContainer {
  margin-top: 10rem;
}
.discordWrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 7rem;
  background-color: #2563eb;
  border-radius: 11px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  position: relative;

  background-color: rgb(62, 84, 163);
}

.discordLogo {
  display: flex;
  justify-content: center;
}

.dcButton {
  align-items: center;
  border: 0px;
  border-radius: 10rem;
  background-color: rgb(255, 255, 255);
  color: rgb(62, 84, 163);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-family: "Barlow", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 700;
  -moz-box-pack: center;
  justify-content: center;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 150ms ease 0s, color 150ms ease 0s;
}

.downArrow {
  transform: translateY(3px);
}

.settingsContainer {
  background-color: #0f172a;
}

.settingsWrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.settingsOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.settingsAvatar {
  background-color: #1b2133;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}

.userAvatarUpload {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.settingsOption {
}

.settingsInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.uploadPhoto {
}

.settingsButtons {
  display: flex;
  gap: 1rem;
}
.saveChanges {
  padding: 1rem;
  background-color: green;
  border-radius: 5px;
}
.imageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.deleteAccount {
  padding: 1rem;
  background-color: red;
  border-radius: 5px;
}

.profileContainer {
  background-color: #0f172a;
  height: 100vh;
}

.profileBasicData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #1b2133;
  border-radius: 21px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

.userAvatarProfile {
  width: 100%;
}

.profileSmallStatistics {
  padding: 2rem;
  background-color: #1b2133;
  border-radius: 21px;
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-row-end: 1;
  grid-column-end: 6;
}

.profileSmallStats {
  padding: 2rem;
  background-color: #1b2133;
  border-radius: 21px;
  display: flex;

  gap: 1rem;

  grid-row-start: 1;
  grid-column-start: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-row-end: 1;
  grid-column-end: 6;
}
.profileSmallStatsData {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 30px;
  font-size: 1.4rem;
}

.profileSmallStatsData2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 30px;
  font-size: 1.4rem;
}
.profileSmallStatsDataBorder {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  align-items: center;
}
.profileSmallStatsDataBorder2 {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  align-items: center;
}
.profileGrid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 75vh;
  column-gap: 3rem;
}

.profileAbout {
  border-bottom: 1px solid #fff;
  width: 100%;
  line-height: 3rem;
}
.profileStats {
  width: 100%;
}
.recentActivity {
  padding: 2rem;
  background-color: #1b2133;
  border-radius: 21px;
  margin-top: 1rem;
  font-size: 1.4rem;

  grid-row-start: 2;
  grid-column-start: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-row-end: 3;
  grid-column-end: 6;
}

.profileWrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.buttonContainerProfile {
  margin-left: auto;
}
.buttonContainerProfileWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.websiteAdded {
  width: 100px;
  height: 100px;
}

.websitesAdded {
  margin-top: 1rem;
  padding: 2rem;
  background-color: #1b2133;
  border-radius: 21px;
  grid-row-start: 3;
  grid-column-start: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-row-end: 4;
  grid-column-end: 6;
}

.contactsProfile {
  font-size: 1.4rem;
}

.favWebsite {
  background-color: #0f172a;
  border-radius: 10px;
}

.usersContainer {
}

.usersWrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.userProfilesContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
}
.userProfilesImage {
  width: 150px;
  height: 150px;
}

.userProfileBox {
  border-radius: 21px;
  padding: 1rem;
  background-color: #1b2133;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  transition: 0.3s all;
}

.userProfileBox:hover {
  transform: translateY(-10px);
}

.littleBg {
  background-color: #1b2133;
  border: 2px solid rgba(82, 82, 89, 0.68);
}

.selected {
  box-shadow: rgb(62, 84, 163) 0px 5px 15px;
}

.littleBg {
  transition: transform 0.3s ease-in-out;
}

.littleBg:hover {
  transform: scale(1.05);
}

.slide-in {
  animation: slide-in 1s ease forwards;
  opacity: 0;
  transform: translateX(100%);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fallingStarAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.falling-star {
  animation: fallingStarAnimation 2s ease-in-out;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.opinionBackground {
  padding: 0.6rem;
  background-color: transparent;
  border-radius: 11px;
  cursor: pointer;
}

.opinionContentInModal {
}
.spaced-paragraph {
  /* Adjust the spacing value as needed */
  overflow-wrap: break-word;
}

.opinionDesc {
  width: 50%;
}

.currentUser {
  box-shadow: blue 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
